.mix {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  margin: 16px auto;
  width: fit-content;
  border-radius: 8px;
  border: 2px solid #bbb;
  box-shadow:  6px 6px #bbb;

  .empty, .filled {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #bbb;
  }
  
  .empty {
    background-color: #f5f5f5;
    box-shadow: inset 6px 6px #bbb;
  }
}